body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'LibreBodoni';
  src: url('../src/components/LibreBodoni-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BalooPaaji2';
  src: url('../src/components/BalooPaaji2-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/* Start of the about page section*/

/*This shapes the entriety of the about page*/
#about-body {
  display: flex;
  flex-direction: column;
  font-family: 'BalooPaaji2';
}

/* This is where the header for the about page is styled*/
#about-header {
  font-family: 'LibreBodoni';
  font-style: bold;
  position: relative;
  background-image:  linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)
  ), url(../src/components/pictures/kiki_embriodery.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13rem;
}

/*This designs the titles of the about page (not header)*/
.about-titles {
  text-align: center;
  font-family: 'LibreBodoni';
  font-style: normal;
}

/*This section is about info with keit */
#about-kiet-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/*This designs the sizing for Kiets picture*/
#about-kiet-pic {
  height: 6rem;
  border-radius: 100%;
  margin-left: 1rem;
}

/*This is the styling for the paragraph sections*/
.about-info-sections {
  margin: 1rem;
  text-align: center;
  font-size: 0.8rem;
}

/*Styling of About EmbrioderMe section */
#about-service-section {
  background-color: #FFE1EC;
}

/*styling for divs with arrow images*/
.about-arrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Navbar section */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #FFD7E2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  transition: transform 0.3s ease;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 0 1rem 0 1rem;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}

.sidebar {
  background-color: #d9d9d9;
  margin: 0;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 65vw;
  z-index: 2;
}

.hidden {
  height: 0;
  -webkit-transition: height 0.1s linear;
  -moz-transition: height 0.1s linear;
  -ms-transition: height 0.1s linear;
  -o-transition: height 0.1s linear;
  transition: height 0.1s linear;
}

.open {
  height: 100vh;
  -webkit-transition: height 0.1s linear;
  -moz-transition: height 0.1s linear;
  -ms-transition: height 0.1s linear;
  -o-transition: height 0.1s linear;
  transition: height 0.1s linear;
}

.display {
  display: none;
}

.reveal {
  display: block;
}

.close {
  position: absolute;
  right: 0;
  top: 2%;
  padding: 1rem;
}

.nav-links {
  margin: 0;
  font-size: 32px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.nav-links li {
  margin: 0 10px;
  padding: 1rem;
}

.navLink {
  text-decoration: none;
  color: blaCK;
}

.navLink::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  overflow: hidden;
  width: 0%;
  transition: 0.5s;
}

.navLink:hover::before {
  width: 100%;
}

.navbar img {
  margin: 0 1rem 0 1rem;
}

.cart {
  text-align: center;
  margin: auto;
  max-width: 50px;
  max-height: 50px;
}

.homeLogo {
  text-align: center;
  margin: auto;
  max-width: 25px;
  max-height: 33px;
}

/* Home Section */

.homebanner {
  position: absolute;
  top: 5%;
  background-image: url('../public/img/tempmodel.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 1rem;
  max-width: 100vw;
  min-height: 50%;
}

.homebanner img {
  max-width: 100%;
  height: auto;
}
/*This is the start of the FAQ css*/ 

/*This is the basis for the faq page */
#faq-body {
  display: flex;
  flex-direction: column;
  font-family: 'BalooPaaji2';
}

/* This designs the faq header*/
#faq-header {
  color: white;
  font-family: 'LibreBodoni';
  font-style: bold;
  position: relative;
  background-image:  linear-gradient(
    0deg,
    rgba(255, 225, 236, 0.3),
    rgba(255, 185, 196, 0.3)),
  url(../src/components/pictures/cherry_blossoms.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13rem;
}

/*This designs the titles of the faq page (not header)*/
.faq-titles {
  text-align: center;
  font-family: 'LibreBodoni';
  font-style: normal;
}

/* This does the paragraph styling for the faq ordering and shipping*/
#faq-OS-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  text-align: center;
  font-size: 0.85rem;
} 

/*This designs the custom service section of the faq page*/
#faq-custom-section {
  background-color: #D1C3B7;
  background-color: #D7F5D3;
  padding: 1rem;
}
